{% extends "layouts/base-fullscreen.html" %}

{% block title %} Нэвтрэх {% endblock %}

{% block content %}   

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">

                    <h3 class="mb-4">Нэвтрэх</h3>

                    <span class="mb-0 text-muted">
                        {% if msg %}
                            <span class="text-danger">{{ msg | safe }}</span>
                        {% else %}
                            Мэдээллээ оруулнуу
                        {% endif %} 
                    </span>

                    <br />
                    <br />

                    <form role="form" method="post"  action="">

                        {{ form.hidden_tag() }}

                        <div class="input-group mb-3">
                            {{ form.username(placeholder="Имэйл", class="form-control") }}
                        </div>

                        <div class="input-group mb-4">
                            {{ form.password(placeholder="Нууц үг", class="form-control", type="password") }}
                        </div>

                        <button type="submit" name="login" class="btn btn-primary shadow-2 mb-4">Нэвтрэх</button>


                    </form>

                    <p class="mb-3 text-muted">Бүртгүүлж байгаагүй? <a href="{{ url_for('authentication_blueprint.register') }}" >Бүртгүүлэх</a></p>

                    
{#                    {% if config.SOCIAL_AUTH_GOOGLE %}#}
                        <div class="mx-2">

                            <a href="{{ url_for('google.login') }}" class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
  <path d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"/>
</svg>
                                
                            </a>
                            <br />

                        </div>
{#                    {% endif %}#}


{#                {% with messages = get_flashed_messages(with_categories=true) %}#}
{#  {% if messages %}#}
{#    <ul class="flash">#}
{#    {% for category, message in messages %}#}
{#      <li class="{{ category }}">{{ message }}</li>#}
{#    {% endfor %}#}
{#    </ul>#}
{#  {% endif %}#}
{#{% endwith %}#}
{#{% if current_user.is_authenticated %}#}
{#  You are logged in as {{ current_user.email }}!#}
{#  <a href="{{ url_for("logout") }}">Log out</a>#}
{#{% else %}#}
{#  You are not logged in.#}
{#  <a href="{{ url_for("google.login") }}">Log in</a>#}
{#{% endif %}#}


                </div>
            </div>
        </div>
    </div>

{% endblock content %}
