{% extends "layouts/base-fullscreen.html" %}

{% block title %} Нэвтрэх {% endblock %}

{% block content %}   

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">

                    <h3 class="mb-4">Бүртгүүлэх</h3>

                    <span class="mb-2 text-muted">
                        {% if msg %}
                            <span class="text-success">{{ msg | safe }}</span>
                        {% else %}
                            Мэдээллээ оруулнуу
                        {% endif %} 
                    </span>

                    <br />
                    <br />

                    <!-- Hide the form on success -->
                    {% if success %}
                        <a href="{{ url_for('authentication_blueprint.login') }}" class="btn btn-primary shadow-2 mb-4">Нэвтрэх</a>
                    {% else %}

                        <form role="form" method="post" action="">

                            {{ form.hidden_tag() }}                    

                            <div class="input-group mb-3">
                                {{ form.username(placeholder="Нэр", class="form-control") }}
                            </div>
                            
                            <div class="input-group mb-3">
                                {{ form.email(placeholder="Имэйл", class="input form-control", type="email") }}
                            </div>
                                <div class="float-left mb-1" id="password-strength"></div>
                            <div class="input-group mb-3">
                                {{ form.password(placeholder="Нууц үг", class="form-control", type="password", id="pwd_create") }}
                            </div>
                            <div class="input-group mb-4">
                                <input type="password" id="confirm_pwd" class="form-control" placeholder="Нууц үг дахин оруулна уу">
                                <div id="password-match-error" class="invalid-feedback float-left " style="display: none;">Нууц үг таарахгүй байна</div>
                            </div>
                            <button type="submit" name="register" class="btn btn-primary shadow-2 mb-4 mt-3">Бүртгүүлэх</button>

                        </form>

                        <p class="mb-0 text-muted">Өмнө нь бүртгүүлж байсан? <a href="{{ url_for('authentication_blueprint.login') }}">Нэвтрэх</a></p>


                    {% endif %}

                    {% if not success and config.SOCIAL_AUTH_GITHUB %}
                        <div class="mx-2">

                            <a href="{{url_for('authentication_blueprint.login_github')}}" class="btn">
                                <i class="feather icon-github auth-icon"></i>

                            </a>
                            <br />
                            <span class="mx-2">GitHub хаягаар бүртгүүлэх</span>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Select the password input field and register button
        const passwordInput = document.getElementById('pwd_create');
        const confirmPwdInput = document.getElementById('confirm_pwd');
        const registerButton = document.querySelector('button[name="register"]');
        const passwordMatchError = document.getElementById('password-match-error');
        // Select the password strength indicator element
        const passwordStrengthIndicator = document.getElementById('password-strength');

        // Function to update the password strength indicator and enable/disable the register button
        function updatePasswordStrength() {
            const password = passwordInput.value;
            // Regular expressions to check password complexity
            const lowerCaseRegex = /[a-z]/;
            const upperCaseRegex = /[A-Z]/;
            const numberRegex = /\d/;
            const specialCharacterRegex = /[-!@_?]/; // Add special character regex
            // Check password against complexity requirements
            const isLowerCase = lowerCaseRegex.test(password);
            const isUpperCase = upperCaseRegex.test(password);
            const isNumber = numberRegex.test(password);
            const isSpecialCharacter = specialCharacterRegex.test(password); // Check for special characters
            // Minimum length requirement
            const isMinimumLength = password.length >= 8; // Minimum length of 8 characters
            // Calculate password strength based on complexity requirements
            const strength = ((isLowerCase + isUpperCase + isNumber + isSpecialCharacter + isMinimumLength) / 5) * 100;
            // Update the password strength indicator
            passwordStrengthIndicator.innerHTML = `Нууц үгийн хүч: ${Math.round(strength)}%`;
            // Change the color based on progress
            if (strength < 50) {
                passwordStrengthIndicator.style.color = 'red';
            } else if (strength < 80) {
                passwordStrengthIndicator.style.color = 'yellow';
                // Disable the register button if the password strength is below 80%
                registerButton.disabled = true;
            } else {
                passwordStrengthIndicator.style.color = 'green';
                // Enable the register button if the password strength is 80% or higher
                registerButton.disabled = false;
            }
        }

        function checkPasswordsMatch() {
            const password = passwordInput.value;
            const confirmPassword = confirmPwdInput.value;
            const passwordsMatch = password === confirmPassword;
            if (!passwordsMatch) {
                passwordMatchError.style.display = 'block';
                registerButton.disabled = true;
            } else {
                passwordMatchError.style.display = 'none';
                // Enable the register button if all conditions are met
                registerButton.disabled = false;
            }
        }

        // Attach input event listeners to the password and confirm password input fields
        passwordInput.addEventListener('input', function() {
            checkPasswordsMatch();
            updatePasswordStrength();
        });

        confirmPwdInput.addEventListener('input', function() {
            checkPasswordsMatch();

        // Attach an input event listener to the password input field
        passwordInput.addEventListener('input', updatePasswordStrength);

        });
    });
</script>


{% endblock content %}
