{% extends "layouts/base.html" %}

{% block title %} Граф {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">

                                <div class="col-xl-6 mb-3">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Line [ Smooth ] Chart</h5>
                                        </div>
                                        <div class="card-block">
                                            <div id="morris-line-smooth-chart-expense" class="ChartShadow" style="height:300px"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-6 mb-3">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Line [ Smooth ] Chart</h5>
                                        </div>
                                        <div class="card-block">
                                            <div id="morris-line-smooth-chart-income" class="ChartShadow" style="height:300px"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-6">
                                    <div class="card">
                                        <div class="card-header">
                                                <h5>Donut Chart</h5>
                                        </div>
                                        <div class="card-block">
                                            <div id="morris-donut-chart" style="height:300px"></div>
                                        </div>
                                    </div>
                                </div>

                                <script>
                                    document.addEventListener("DOMContentLoaded", function () {
                                        // Chart initialization code here
                                        // Example:
                                        Morris.Donut({
                                            element: 'morris-donut-chart',
                                            data: [
                                                {label: "Label 1", value: 25},
                                                {label: "Label 2", value: 50},
                                                {label: "Label 3", value: 25}
                                            ]
                                        });

                                        Morris.Line({
                                            element: 'morris-line-smooth-chart-income',
                                            data: {{ income_chart_data | safe }},
                                            xkey: 'x',
                                            ykeys: ['y'],
                                            labels: ['Income Amount'],
                                             hoverCallback: function (index, options, content, row)
                                            {
                                                return "<div class='morris-hover-point'>" +
                                                       "<div class='morris-hover-row-label'>Төрөл: " + row.source + "</div>" +
                                                       "<div class='morris-hover-row-label'>Орлого: " + row.y + "</div>" +

                                                       "<div class='morris-hover-row-label'>Цаг: " + row.x + "</div>";

                                            },
                                            xLabelFormat: function (x) { return ''; },
                                        });

                                         Morris.Line({
                                            element: 'morris-line-smooth-chart-expense',
                                            data: {{ expense_chart_data | safe }},
                                            xkey: 'x',
                                            ykeys: ['y'],
                                            labels: ['Expense amount'],
                                             hoverCallback: function (index, options, content, row)
                                            {
                                                return "<div class='morris-hover-point'>" +
                                                       "<div class='morris-hover-row-label'>Төрөл: " + row.category + "</div>" +
                                                       "<div class='morris-hover-row-label'>Орлого: " + row.y + "</div>" +
                                                       "<div class='morris-hover-row-label'>Цаг: " + row.x + "</div>";

                                            },
                                            xLabelFormat: function (x) { return ''; },
                                        });
                                    });

                                </script>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- chart-morris Js -->
    <script src="{{ config.ASSETS_ROOT }}/plugins/chart-morris/js/raphael.min.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/plugins/chart-morris/js/morris.min.js"></script>


{% endblock javascripts %}